In [4]:
x1 = 5
type(x1)

int

In [5]:
x2 = 4.75
type(x2)

float

In [6]:
int(x2)

4

In [7]:
float(5)

5.0

In [8]:
x3 = True
type(x3)

bool

In [12]:
# strings
x4 = "George"
print(x4)

George

In [14]:
y = 10
print(f"{y} Dollars")  # ou: str(y) + " Dollars"

10 Dollars

In [16]:
print("I'm fine")
# ou utilizando caracter de escape
print("I'm fine")

I'm fine
I'm fine

In [21]:
# imprimindo espaços
print("Red " "Car")
print("Red " + "Car")
print("Red", "Car")

Red Car
Red Car
Red Car

In [24]:
# ao enviar diversos dados sem o comando print, o python irá gerar uma tupla
3, 5, 6.9, 7, "car"

(3, 5, 6.9, 7, 'car')